<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{project.name}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>
        .ui-autocomplete-loading {
            background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>

    <!-- autocomplete -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
		$(function() {
			$("#Suggestion_Field").autocomplete({
				source: "suggestionsAutocomplete",
				minLength: 3

			});
		});
	</script>

</head>
<body>
<div class="container">
    <div class="page-header">
<!--        <img th:src="@{/images/spring-boot.png}"/> -->
        <h1 th:text="#{project.name}"/>
        <table>
            <tr>
                <td><p class="lead">Demo Applikation mit   </p></td>
                <td><img th:src="@{//s3.eu-central-1.amazonaws.com/shoppinglist-bucket-11ert/img/spring-boot.png}" width="100px"/></td>
            </tr>
        </table>

        <p>Open Source<a href="https://github.com/11ert/shoppinglist">GitHub</a>. You're currently looking at version <span th:text="#{project.version}">0.0.1</span>.</p>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">
                    <label for="Suggestion_Field">Record to insert</label>
 <!--                   <input id="data" type="text" class="form-control" placeholder="Text hier eingeben.." th:field="*{data}" /> -->
                        <input id="Suggestion_Field" type="text" class="form-control" placeholder="Text hier eingeben.." th:field="*{data}">
<!--                    <input id="Plant_Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="description" th:text="${plantName}"-->
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Records</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${records}">
                        <td th:text="${record.data}">Some text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  </div>

  <!-- autocomplete -->


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>